@charset "UTF-8";
#header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 40px 60px;
}
#header nav {
  display: flex;
  justify-content: space-between;
}
#header nav .left_section {
  display: flex;
  padding-top: 20px;
}
#header nav .left_section li {
  margin-right: 20px;
}
#header nav .left_section li:last-child {
  margin-right: 0;
}
#header nav .top_logo {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#header nav .hamburger_btn {
  padding-top: 18px;
}
#header.white_bg nav .left_section li a {
  color: #222;
}
#header.white_bg nav .top_logo img {
  content: url(../img/logo_green.svg);
}
#header.white_bg nav .hamburger_btn img {
  content: url(../img/hamburger_green.svg);
}

#quick_menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  min-width: 421px;
}
#quick_menu.family_site {
  transform: translate(-50%, -116px);
}
#quick_menu .slide_btn {
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/slide_btn.png);
}
#quick_menu .slide_btn.clicked img {
  transform: rotateX(180deg);
}
#quick_menu .menu {
  background-color: white;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  padding: 10px 15px;
}
#quick_menu .menu > li.reserv, #quick_menu .menu > li.reserv_check {
  display: flex;
  align-items: center;
}
#quick_menu .menu > li.reserv::after, #quick_menu .menu > li.reserv_check::after {
  content: "";
  display: block;
  width: 2px;
  height: 60px;
  background-color: #dbdbdb;
  margin-left: 12px;
}
#quick_menu .menu > li.reserv button, #quick_menu .menu > li.reserv_check button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
#quick_menu .menu > li.reserv button span, #quick_menu .menu > li.reserv_check button span {
  color: #222;
  font-size: 18px;
}
#quick_menu .menu > li.reserv_check {
  padding-left: 12px;
}
#quick_menu .menu > li.weather {
  padding-left: 12px;
}
#quick_menu .menu > li.weather ul {
  display: flex;
  align-items: center;
  gap: 12px;
}
#quick_menu .menu > li.weather ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
#quick_menu .menu > li.weather ul li:last-child {
  margin-bottom: 0;
}
#quick_menu .menu > li.weather ul li .day {
  font-size: 16 px;
  color: #666;
}
#quick_menu .menu > li.weather ul li .temp {
  font-size: 18px;
  color: #222;
}
#quick_menu .menu.clicked {
  display: none;
}

#pc_pop_up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  display: none;
}
#pc_pop_up.active_now {
  display: block;
}
#pc_pop_up .bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
#pc_pop_up .header {
  background-color: #009850;
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}
#pc_pop_up .header h2 {
  font-size: 24px;
  font-weight: 500;
}
#pc_pop_up .mobile_header {
  display: none;
  padding: 20px;
  justify-content: space-between;
}
#pc_pop_up .mobile_header a {
  width: 100px;
  height: 38px;
}
#pc_pop_up .mobile_bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 225;
}
#pc_pop_up .mobile_bg.active_now {
  display: block;
}
#pc_pop_up .pop_up_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 840px;
  display: none;
}
#pc_pop_up .pop_up_content.active_now {
  display: block;
}
#pc_pop_up .pop_up_content .content {
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
}
#pc_pop_up .pop_up_content .content .calendar #datepicker {
  display: none;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar {
  color: #222;
  box-shadow: none;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar .flatpickr-months {
  margin-bottom: 20px;
  align-items: center;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar .flatpickr-months .flatpickr-current-month {
  padding-top: 4px;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar .flatpickr-months .flatpickr-current-month .flatpickr-monthDropdown-months {
  font-size: 20px;
  font-weight: 500;
  color: #222;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar .flatpickr-months .flatpickr-current-month .flatpickr-monthDropdown-months:disabled {
  color: #222;
  pointer-events: none;
  opacity: 1;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar .flatpickr-months .flatpickr-current-month .numInputWrapper {
  width: 70px;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar .flatpickr-months .flatpickr-current-month .cur-year {
  font-size: 20px;
  font-weight: 500;
  color: #222;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar .flatpickr-weekdays {
  margin-bottom: 10px;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar .flatpickr-weekday {
  color: #222;
  font-weight: 500;
  font-size: 16px;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar .flatpickr-day {
  font-size: 16px;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar .flatpickr-day.selected {
  font-weight: 500;
  background-color: #2fb400;
  border-color: #2fb400;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar .flatpickr-day.highlighted {
  position: relative;
}
#pc_pop_up .pop_up_content .content .calendar .flatpickr-calendar .flatpickr-day.highlighted::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}
#pc_pop_up .pop_up_content .content .tab_time_table {
  width: 434px;
}
#pc_pop_up .pop_up_content .content .tab_time_table .tab {
  display: flex;
  background-color: #d7f1ce;
  border-radius: 20px;
  margin-bottom: 20px;
}
#pc_pop_up .pop_up_content .content .tab_time_table .tab li {
  width: 33.33%;
}
#pc_pop_up .pop_up_content .content .tab_time_table .tab li button {
  font-size: 18px;
  height: 38px;
  width: 100%;
  border-radius: 20px;
  color: #999999;
}
#pc_pop_up .pop_up_content .content .tab_time_table .tab li button.active_now {
  background-color: #2fb400;
  color: #fff;
  font-weight: 500;
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table {
  max-height: 270px;
  overflow-y: scroll;
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table::-webkit-scrollbar {
  width: 4px; /* 스크롤바 너비 */
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table::-webkit-scrollbar-thumb {
  background-color: #dbdbdb; /* 스크롤바 색상 */
  border-radius: 4px; /* 스크롤바 모서리 둥글게 */
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table::-webkit-scrollbar-track {
  background: #ededed; /* 스크롤바 트랙 색상 */
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table table {
  width: 100%;
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table table thead {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #ddd;
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table table thead tr {
  border-bottom: 1px solid #ddd;
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table table thead tr th {
  color: #222;
  font-weight: 500;
  padding-bottom: 15px;
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table table tbody tr:first-child td {
  padding-top: 10px;
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table table tbody tr td {
  padding: 5px 0;
  text-align: center;
  color: #666;
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table table tbody tr td select {
  color: #666;
  border: none;
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table table tbody tr td select option {
  color: #666;
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table table tbody tr td button {
  font-weight: 500;
  color: #2fb400;
}
#pc_pop_up .pop_up_content .content .tab_time_table .time_table table tbody tr td button:disabled {
  color: #666;
  cursor: initial;
}
#pc_pop_up .reserv_info_check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 250;
  width: 420px;
  display: none;
  border: 1px solid orange;
}
#pc_pop_up .reserv_info_check.active_now {
  display: block;
}
#pc_pop_up .reserv_info_check .header {
  background-color: orange;
}
#pc_pop_up .reserv_info_check .content {
  background-color: white;
  padding: 20px 24px;
}
#pc_pop_up .reserv_info_check .content .txts .txt {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}
#pc_pop_up .reserv_info_check .content .txts .txt p {
  font-size: 18px;
  color: #222;
}
#pc_pop_up .reserv_info_check .content .txts .txt p.highlighted {
  font-weight: 500;
}
#pc_pop_up .reserv_info_check .content .txts .txt p:first-child {
  width: 100px;
  font-weight: 500;
}
#pc_pop_up .reserv_info_check .content .txts .txt p:nth-child(2) {
  color: #666;
}
#pc_pop_up .reserv_info_check .content .btns {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
#pc_pop_up .reserv_info_check .content .btns button {
  color: #222;
}
#pc_pop_up .reserv_info_check .content .btns button.reserv_btn {
  font-size: 18px;
  color: #2fb400;
  font-weight: 500;
}
#pc_pop_up .reserv_info_check .content .btns button.cancel_btn {
  font-size: 18px;
  color: #222;
}
#pc_pop_up .reserv_complete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 840px;
  display: none;
  z-index: 250;
}
#pc_pop_up .reserv_complete.active_now {
  display: block;
}
#pc_pop_up .reserv_complete .txts {
  padding: 20px 24px;
}
#pc_pop_up .reserv_complete .txts .heading {
  font-size: 22px;
  color: #222;
  font-weight: 500;
  text-align: center;
}
#pc_pop_up .reserv_complete .txts .txt {
  margin-top: 20px;
  color: #666;
  text-align: center;
  line-height: 1.5;
}
#pc_pop_up .reserv_complete .txts .txt span {
  color: #222;
  font-weight: 500;
  line-height: 1.5;
}
#pc_pop_up .reserv_complete .btn_container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
#pc_pop_up .reserv_complete .btn_container button {
  font-size: 18px;
  font-weight: 500;
  color: #2fb400;
}

#mobile_pop_up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background-color: #fff;
  display: none;
}
#mobile_pop_up.active_now {
  display: block;
}
#mobile_pop_up .header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
#mobile_pop_up .header .logo {
  width: 100px;
  height: 38px;
}
#mobile_pop_up .header .logo img {
  width: 100%;
  height: 100%;
}
#mobile_pop_up #mobile_datepicker {
  display: none;
}
#mobile_pop_up .flatpickr-calendar {
  color: #222;
  box-shadow: none;
  margin: 0 auto;
}
#mobile_pop_up .flatpickr-calendar .flatpickr-months {
  margin-bottom: 10px;
  align-items: center;
}
#mobile_pop_up .flatpickr-calendar .flatpickr-months .flatpickr-current-month {
  padding-top: 4px;
}
#mobile_pop_up .flatpickr-calendar .flatpickr-months .flatpickr-current-month .flatpickr-monthDropdown-months {
  font-size: 20px;
  font-weight: 500;
  color: #222;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#mobile_pop_up .flatpickr-calendar .flatpickr-months .flatpickr-current-month .flatpickr-monthDropdown-months:disabled {
  color: #222;
  pointer-events: none;
  opacity: 1;
}
#mobile_pop_up .flatpickr-calendar .flatpickr-months .flatpickr-current-month .numInputWrapper {
  width: 70px;
}
#mobile_pop_up .flatpickr-calendar .flatpickr-months .flatpickr-current-month .cur-year {
  font-size: 20px;
  font-weight: 500;
  color: #222;
}
#mobile_pop_up .flatpickr-calendar .flatpickr-weekdays {
  margin-bottom: 0;
}
#mobile_pop_up .flatpickr-calendar .flatpickr-weekday {
  color: #222;
  font-weight: 500;
  font-size: 16px;
}
#mobile_pop_up .flatpickr-calendar .flatpickr-day {
  font-size: 16px;
}
#mobile_pop_up .flatpickr-calendar .flatpickr-day.selected {
  font-weight: 500;
  background-color: #2fb400;
  border-color: #2fb400;
}
#mobile_pop_up .flatpickr-calendar .flatpickr-day.highlighted {
  position: relative;
}
#mobile_pop_up .flatpickr-calendar .flatpickr-day.highlighted::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}
#mobile_pop_up .tab_table {
  margin-top: 20px;
  padding: 0 20px;
}
#mobile_pop_up .tab_table .tab {
  background-color: #d7f1ce;
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  margin-bottom: 20px;
}
#mobile_pop_up .tab_table .tab button {
  color: #666;
  width: 33.33%;
  height: 36px;
}
#mobile_pop_up .tab_table .tab button.active_now {
  background-color: #2fb400;
  border-radius: 18px;
  color: #fff;
  font-weight: 500;
}
#mobile_pop_up .tab_table .time_table {
  max-height: 500px;
  overflow-y: scroll;
}
#mobile_pop_up .tab_table .time_table::-webkit-scrollbar {
  width: 4px; /* 스크롤바 너비 */
}
#mobile_pop_up .tab_table .time_table::-webkit-scrollbar-thumb {
  background-color: #dbdbdb; /* 스크롤바 색상 */
  border-radius: 4px; /* 스크롤바 모서리 둥글게 */
}
#mobile_pop_up .tab_table .time_table::-webkit-scrollbar-track {
  background: #ededed; /* 스크롤바 트랙 색상 */
}
#mobile_pop_up .tab_table .time_table table {
  width: 100%;
}
#mobile_pop_up .tab_table .time_table table thead {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #ddd;
}
#mobile_pop_up .tab_table .time_table table thead tr {
  border-bottom: 1px solid #ddd;
}
#mobile_pop_up .tab_table .time_table table thead tr th {
  color: #222;
  font-weight: 500;
  padding-bottom: 15px;
}
#mobile_pop_up .tab_table .time_table table tbody tr:first-child td {
  padding-top: 10px;
}
#mobile_pop_up .tab_table .time_table table tbody tr td {
  padding: 5px 0;
  text-align: center;
  color: #666;
}
#mobile_pop_up .tab_table .time_table table tbody tr td select {
  color: #666;
  border: none;
}
#mobile_pop_up .tab_table .time_table table tbody tr td select option {
  color: #666;
}
#mobile_pop_up .tab_table .time_table table tbody tr td button {
  font-weight: 500;
  color: #2fb400;
}
#mobile_pop_up .tab_table .time_table table tbody tr td button:disabled {
  color: #666;
  cursor: initial;
}

#mobile_reserv_info_check {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100vw;
  height: 100vh;
  display: none;
}
#mobile_reserv_info_check.active_now {
  display: block;
}
#mobile_reserv_info_check .bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
#mobile_reserv_info_check .pop_up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
}
#mobile_reserv_info_check .pop_up .header {
  background-color: #009850;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
#mobile_reserv_info_check .pop_up .header p {
  font-size: 18px;
  font-weight: 500;
}
#mobile_reserv_info_check .pop_up .header button {
  width: 18px;
  height: 18px;
  background-image: url(../img/mobile_pop_up_close_02.png);
  background-position: center center;
  background-size: 100% 100%;
}
#mobile_reserv_info_check .pop_up .content {
  background-color: white;
  padding: 20px 10px;
}
#mobile_reserv_info_check .pop_up .content .info li {
  display: flex;
  margin-bottom: 20px;
}
#mobile_reserv_info_check .pop_up .content .info li:last-child {
  margin-bottom: 0;
}
#mobile_reserv_info_check .pop_up .content .info li p:first-child {
  color: #222;
  font-weight: 500;
  width: 100px;
}
#mobile_reserv_info_check .pop_up .content .info li p:nth-child(2) {
  color: #666;
}
#mobile_reserv_info_check .pop_up .content .info li p:nth-child(2).highlighted {
  font-weight: 500;
}
#mobile_reserv_info_check .pop_up .content .btns_container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}
#mobile_reserv_info_check .pop_up .content .btns_container .reserv_btn {
  color: #2fb400;
  font-weight: 500;
}
#mobile_reserv_info_check .pop_up .content .btns_container .cancel_btn {
  color: #222;
}

#mobile_reserv_complete {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100vw;
  height: 100vh;
  display: none;
}
#mobile_reserv_complete.active_now {
  display: block;
}
#mobile_reserv_complete .bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
#mobile_reserv_complete .pop_up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
}
#mobile_reserv_complete .pop_up .header {
  background-color: #009850;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
#mobile_reserv_complete .pop_up .header p {
  font-size: 18px;
  font-weight: 500;
}
#mobile_reserv_complete .pop_up .header button {
  width: 18px;
  height: 18px;
  background-image: url(../img/mobile_pop_up_close_02.png);
  background-position: center center;
  background-size: 100% 100%;
}
#mobile_reserv_complete .pop_up .content {
  background-color: white;
  padding: 20px 10px;
}
#mobile_reserv_complete .pop_up .content .txts {
  text-align: center;
}
#mobile_reserv_complete .pop_up .content .txts .heading {
  font-size: 20px;
  color: #222;
  font-weight: 500;
}
#mobile_reserv_complete .pop_up .content .txts .txt {
  color: #666;
  margin-top: 15px;
  line-height: 1.5;
}
#mobile_reserv_complete .pop_up .content .txts .txt > span {
  color: #666;
  font-weight: 500;
}
#mobile_reserv_complete .pop_up .content .btns_container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
#mobile_reserv_complete .pop_up .content .btns_container .reserv_check {
  color: #2fb400;
  font-weight: 500;
}

#global_nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 100;
}
#global_nav ul li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  margin-bottom: 50px;
}
#global_nav ul li a {
  font-size: 24px;
  opacity: 0.6;
}
#global_nav ul li::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
  opacity: 0.6;
}
#global_nav ul li:last-child {
  margin-bottom: 0;
}
#global_nav ul li.active_now a {
  opacity: 1;
}
#global_nav ul li.active_now::after {
  opacity: 1;
}
#global_nav.white_bg ul li a {
  color: #666;
  opacity: 1;
}
#global_nav.white_bg ul li::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #666;
}
#global_nav.white_bg ul li.active_now a {
  color: #006736;
  opacity: 1;
}
#global_nav.white_bg ul li.active_now::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #006736;
}

#mobile_float_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
#mobile_float_btn .txt {
  font-size: 14px;
  color: #222;
  font-weight: 500;
}

#fullpage .intro {
  position: relative;
  background-image: url(../img/intro_bg.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
#fullpage .intro .center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  width: 100%;
}
#fullpage .intro .center_text h1 {
  font-size: 94px;
  font-weight: 500;
}
#fullpage .intro .center_text .line {
  width: 2px;
  height: 20px;
  background-color: #fff;
}
#fullpage .intro .center_text p {
  font-size: 32px;
}
#fullpage .intro .center_text.active_now h1 {
  animation: introAniTop 1s;
}
#fullpage .intro .center_text.active_now .line {
  animation: fadeIn 1s;
}
#fullpage .intro .center_text.active_now p {
  animation: introAniDown 1s;
}
#fullpage .east_course {
  position: relative;
  background-image: url(../img/east_course.png);
  background-size: cover;
  background-position: center;
}
#fullpage .south_course {
  position: relative;
  background-image: url(../img/south_course.png);
  background-size: cover;
  background-position: center;
}
#fullpage .west_course {
  position: relative;
  background-image: url(../img/west_course.png);
  background-size: cover;
  background-position: center;
}
#fullpage .family_site {
  position: relative;
}
#fullpage .family_site .links {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 90px);
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  max-width: 70vw;
  max-height: 720px;
  min-width: 960px;
}
#fullpage .family_site .links .left_section {
  width: 50%;
}
#fullpage .family_site .links .left_section .half_img {
  display: block;
  aspect-ratio: 800/360;
  padding: 30px;
  position: relative;
  overflow: hidden;
}
#fullpage .family_site .links .left_section .half_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
#fullpage .family_site .links .left_section .half_img:hover img {
  transform: scale(1.2);
}
#fullpage .family_site .links .right_section {
  display: block;
  position: relative;
  width: 50%;
  overflow: hidden;
}
#fullpage .family_site .links .right_section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
#fullpage .family_site .links .right_section:hover img {
  transform: scale(1.2);
}
#fullpage .family_site .links .texts {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 100;
  padding-right: 30px;
}
#fullpage .family_site .links .texts h2 {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 15px;
}
#fullpage .family_site .links .texts p {
  font-size: 22px;
  line-height: 1.5;
}
#fullpage .family_site .mobile_links {
  width: 100%;
  display: none;
  position: absolute;
  top: calc(50% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 20px;
}
#fullpage .family_site .mobile_links .mobile_links_screen {
  overflow-x: scroll;
  overflow-y: hidden;
}
#fullpage .family_site .mobile_links .mobile_links_screen .mobile_links_container {
  display: flex;
  gap: 40px;
  padding-bottom: 20px;
}
#fullpage .family_site .mobile_links .mobile_links_screen .mobile_links_container .mobile_link .thumbnail {
  width: 400px;
  aspect-ratio: 4/3;
}
#fullpage .family_site .mobile_links .mobile_links_screen .mobile_links_container .mobile_link .thumbnail img {
  width: 100%;
  height: 100%;
}
#fullpage .family_site .mobile_links .mobile_links_screen .mobile_links_container .mobile_link .txt {
  margin-top: 20px;
}
#fullpage .family_site .mobile_links .mobile_links_screen .mobile_links_container .mobile_link .txt h2 {
  color: #222;
  font-size: 20px;
  font-weight: 500;
}
#fullpage .family_site .mobile_links .mobile_links_screen .mobile_links_container .mobile_link .txt p {
  color: #666;
  margin-top: 10px;
}
#fullpage .family_site footer {
  padding: 10px 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#fullpage .family_site footer .middle_section p {
  color: #666;
  line-height: 2;
}
#fullpage .family_site footer .right_section {
  height: 96px;
}
#fullpage .family_site footer .right_section > div a {
  line-height: 2;
  color: #666;
}
#fullpage .family_site footer .mobile_section {
  display: none;
}
#fullpage .common_center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;
}
#fullpage .common_center_text .left_section {
  max-width: 740px;
}
#fullpage .common_center_text .left_section h2 {
  font-size: 94px;
  font-weight: 500;
  margin-bottom: 70px;
}
#fullpage .common_center_text .left_section .texts h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}
#fullpage .common_center_text .left_section .texts p {
  line-height: 32px;
  font-size: 22px;
}
#fullpage .common_center_text.active_now .left_section {
  animation: aniLeft 1s;
}
#fullpage .common_center_text.active_now .right_section {
  animation: aniRight 1s;
}
#fullpage .common_center_text .right_section {
  display: flex;
  align-items: flex-end;
}
#fullpage .common_center_text .right_section .view {
  position: relative;
}
#fullpage .common_center_text .right_section .view span {
  font-size: 70px;
}
#fullpage .common_center_text .right_section .view .arrow_right {
  width: 142px;
  height: 24px;
  background-image: url(../img/arrow_right.png);
  background-size: 100% 100%;
  position: absolute;
  bottom: -14px;
  right: -27px;
  transition: all 0.3s;
}
#fullpage .common_center_text .right_section .view:hover .arrow_right {
  transform: translateX(15px);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes introAniTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes introAniDown {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes aniLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes aniRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 1000px) {
  #header {
    padding: 20px;
  }
  #header nav .left_section {
    display: none;
  }
  #header nav .top_logo {
    width: 100px;
    height: 38px;
    position: initial;
    transform: translateX(0);
  }
  #header nav .hamburger_btn {
    padding-top: 0;
  }
  #header nav .hamburger_btn img {
    content: url("../img/hamburger_mob.png");
  }
  #header nav.white_bg nav .hamburger_btn img {
    content: url("../img/hamburger_black_mob.png");
  }
}
@media (max-width: 1300px) {
  #global_nav {
    display: none;
  }
}
@media (max-width: 1870px) {
  #fullpage .intro .center_text h1 {
    font-size: 80px;
  }
}
@media (max-width: 1590px) {
  #fullpage .intro .center_text h1 {
    font-size: 70px;
  }
  #fullpage .intro .center_text p {
    font-size: 26px;
  }
}
@media (max-width: 1000px) {
  #fullpage .intro .center_text {
    gap: 20px;
  }
  #fullpage .intro .center_text h1 {
    font-size: 60px;
  }
  #fullpage .intro .center_text p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  #fullpage .intro .center_text {
    gap: 10px;
  }
  #fullpage .intro .center_text h1 {
    font-size: 30px;
  }
  #fullpage .intro .center_text p {
    font-size: 16px;
  }
  #fullpage .intro .center_text .line {
    width: 2px;
    height: 10px;
  }
}
@media (max-width: 1890px) {
  #fullpage .common_center_text .left_section h2 {
    font-size: 80px;
  }
  #fullpage .common_center_text .right_section .view span {
    font-size: 65px;
  }
}
@media (max-width: 1682px) {
  #fullpage .common_center_text {
    gap: 50px;
  }
  #fullpage .common_center_text .left_section h2 {
    font-size: 70px;
  }
  #fullpage .common_center_text .left_section .texts h3 {
    font-size: 24px;
  }
  #fullpage .common_center_text .left_section .texts p {
    font-size: 18px;
  }
  #fullpage .common_center_text .right_section .view span {
    font-size: 60px;
  }
}
@media (max-width: 1300px) {
  #fullpage .common_center_text {
    flex-direction: column;
    align-items: center;
    width: 768px;
    padding: 0 40px;
  }
  #fullpage .common_center_text .left_section h2 {
    font-size: 50px;
    margin-bottom: 50px;
  }
  #fullpage .common_center_text .left_section .texts h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #fullpage .common_center_text .left_section .texts p {
    font-size: 16px;
  }
  #fullpage .common_center_text .right_section {
    width: 100%;
    justify-content: flex-end;
    align-items: initial;
  }
  #fullpage .common_center_text .right_section .view span {
    font-size: 40px;
  }
  #fullpage .common_center_text .right_section .view .arrow_right {
    width: 100px;
    height: 17px;
  }
}
@media (max-width: 768px) {
  #fullpage .common_center_text {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    gap: 30px;
  }
  #fullpage .common_center_text .left_section h2 {
    font-size: 38px;
    margin-bottom: 33px;
  }
  #fullpage .common_center_text .left_section .texts h3 {
    font-size: 20px;
    margin-bottom: 18px;
    font-weight: 500;
  }
  #fullpage .common_center_text .left_section .texts p {
    font-size: 16px;
  }
  #fullpage .common_center_text .right_section {
    width: 100%;
    justify-content: flex-end;
    align-items: initial;
  }
  #fullpage .common_center_text .right_section .view {
    position: relative;
    right: 12px;
  }
  #fullpage .common_center_text .right_section .view span {
    font-size: 26px;
  }
  #fullpage .common_center_text .right_section .view .arrow_right {
    width: 51px;
    height: 9px;
    right: -12px;
    bottom: -8px;
    background-image: url(../img/arrow_right_mob.png);
  }
}
@media (max-width: 1800px) {
  #fullpage .family_site .links .texts h2 {
    font-size: 46px;
  }
  #fullpage .family_site .links .texts p {
    font-size: 20px;
  }
}
@media (max-width: 1650px) {
  #fullpage .family_site .links .texts h2 {
    font-size: 40px;
  }
  #fullpage .family_site .links .texts p {
    font-size: 18px;
  }
}
@media (max-width: 1300px) {
  #fullpage .family_site .links {
    left: 50%;
  }
}
@media (max-width: 1000px) {
  #fullpage .family_site .links {
    display: none;
    top: calc(50% - 100px);
    padding: 0 20px;
    min-width: auto;
    max-height: none;
    max-width: none;
  }
  #fullpage .family_site .links .left_section {
    width: 66.66%;
    display: flex;
  }
  #fullpage .family_site .links .left_section .half_img {
    aspect-ratio: 1/1;
    width: 50%;
  }
  #fullpage .family_site .links .left_section .half_img img {
    -o-object-fit: cover;
       object-fit: cover; /* cover 효과 적용 */
    -o-object-position: center;
       object-position: center; /* 이미지 중앙 정렬 */
  }
  #fullpage .family_site .links .right_section {
    width: 33.33%;
  }
  #fullpage .family_site .links .right_section img {
    -o-object-fit: cover;
       object-fit: cover; /* cover 효과 적용 */
    -o-object-position: center;
       object-position: center; /* 이미지 중앙 정렬 */
  }
  #fullpage .family_site .links .texts {
    top: 20px;
    left: 20px;
  }
  #fullpage .family_site .links .texts h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #fullpage .family_site .links .texts p {
    font-size: 16px;
  }
  #fullpage .family_site .mobile_links {
    display: block;
  }
}
@media (max-width: 768px) {
  #fullpage .family_site .links {
    top: calc(50% - 110px);
    flex-direction: column;
  }
  #fullpage .family_site .links .left_section {
    width: 100%;
    display: block;
  }
  #fullpage .family_site .links .left_section .half_img {
    aspect-ratio: 4/3;
    max-height: 150px;
    width: 100%;
  }
  #fullpage .family_site .links .left_section .half_img img {
    -o-object-fit: cover;
       object-fit: cover; /* cover 효과 적용 */
    -o-object-position: center;
       object-position: center; /* 이미지 중앙 정렬 */
  }
  #fullpage .family_site .links .right_section {
    width: 100%;
    aspect-ratio: 4/3;
    max-height: 150px;
  }
  #fullpage .family_site .links .right_section img {
    -o-object-fit: cover;
       object-fit: cover; /* cover 효과 적용 */
    -o-object-position: center;
       object-position: center; /* 이미지 중앙 정렬 */
  }
  #fullpage .family_site .mobile_links .mobile_links_screen .mobile_links_container .mobile_link .thumbnail {
    width: 300px;
    aspect-ratio: 4/3;
  }
}
@media (max-width: 400px) {
  #fullpage .family_site .mobile_links .mobile_links_screen .mobile_links_container .mobile_link .thumbnail {
    width: 250px;
    aspect-ratio: 4/3;
  }
}
@media (max-width: 1200px) {
  #fullpage .family_site footer .left_section {
    display: none;
  }
}
@media (max-width: 1000px) {
  #quick_menu {
    display: none;
  }
  #fullpage .family_site footer {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  #fullpage .family_site footer .left_section {
    display: initial;
  }
  #fullpage .family_site footer .left_section img {
    content: url(../img/footer_logo_mob.png);
  }
  #fullpage .family_site footer .middle_section {
    display: none;
  }
  #fullpage .family_site footer .right_section {
    height: auto;
    margin-top: 20px;
    margin-bottom: 12px;
  }
  #fullpage .family_site footer .right_section > div a {
    font-size: 14px;
    line-height: 20px;
  }
  #fullpage .family_site footer .mobile_section {
    display: initial;
  }
  #fullpage .family_site footer .mobile_section p {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
  }
  #fullpage .family_site footer .mobile_section p:last-child {
    margin-bottom: 0;
  }
  #fullpage .family_site footer .mobile_section p span {
    font-size: 14px;
    line-height: 20px;
    color: #666;
    font-weight: 500;
  }
}
@media (max-width: 1000px) {
  #mobile_float_btn {
    display: flex;
  }
}
@media (max-width: 1000px) {
  #pc_pop_up .bg {
    display: none;
  }
  #pc_pop_up .header {
    padding: 15px;
  }
  #pc_pop_up .header h2 {
    font-size: 20px;
  }
  #pc_pop_up .mobile_header {
    display: flex;
  }
  #pc_pop_up .pop_up_content {
    top: 0;
    left: 0;
    transform: initial;
    width: 100%;
    height: 100%;
  }
  #pc_pop_up .pop_up_content .header {
    display: none;
  }
  #pc_pop_up .pop_up_content .content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  #pc_pop_up .pop_up_content .content .tab_time_table {
    width: 100%;
    max-width: 434px;
  }
  #pc_pop_up .pop_up_content .content .tab_time_table .time_table {
    max-height: 400px;
  }
  #pc_pop_up .reserv_info_check {
    max-width: 420px;
    width: calc(100% - 40px);
    border: none;
  }
  #pc_pop_up .reserv_info_check .header {
    background-color: #2fb400;
  }
  #pc_pop_up .reserv_info_check .content {
    padding: 15px;
  }
  #pc_pop_up .reserv_info_check .content .txts .txt {
    margin-bottom: 20px;
  }
  #pc_pop_up .reserv_info_check .content .txts .txt p {
    font-size: 16px;
  }
  #pc_pop_up .reserv_info_check .content .btns {
    margin-top: 30px;
  }
  #pc_pop_up .reserv_complete {
    max-width: 420px;
    width: calc(100% - 40px);
  }
  #pc_pop_up .reserv_complete .txts {
    padding: 15px;
  }
  #pc_pop_up .reserv_complete .txts .heading {
    font-size: 20px;
  }
  #pc_pop_up .reserv_complete .btn_container {
    margin-top: 5px;
    padding-bottom: 15px;
  }
}